@import '../../../constants/colors';
@import '../../../constants/typography';
.wrapper {
  width: 100%;
  padding-bottom: 372px;
  overflow: hidden;

  .header {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: $special_color;
    margin-bottom: 20px;
  }

  .packs_header {
    margin-top: 74px;
  }

  .items_container {
    width: 100%;
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    grid-template-columns: 1fr 1fr 1fr;

    justify-content: space-between;
    grid-gap: 31px;
    .each_item {
      box-sizing: border-box;
      // width: 250px;

      border-radius: 8px;

      img {
        width: 100%;
      }
      .item_name_and_star_container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 12px;

        h4 {
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          color: $sub_color3;
        }

        .star {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          width: 56px;
          height: 31px;
          text-align: center;
          color: #ffffff;
          background: $secondary_bg1;
          border-radius: 2px;
          box-sizing: border-box;
          padding: 5.5px 0px;
        }
      }

      .item_description {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        width: 196px;
        margin-top: 4px;
        color: rgba(96, 96, 96, 0.7);
      }

      .item_price_and_qty_container {
        display: flex;
        justify-content: space-between;
        margin: 12px 0px 13px 0px;

        h4 {
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          color: $sub_color2;
          .naira_sign {
            font-weight: 300;
            text-decoration-line: line-through;
            text-decoration-style: double;
            margin-right: 3px;
          }
        }

        h6 {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: $sub_color2;

          .quantity_btn {
            padding: 0px;
            font-size: 0px;
            background-color: transparent;
          }

          .plus {
            margin-left: 14px;
          }
          .minus {
            margin-right: 14px;
            position: relative;
            bottom: 5px;
          }
        }
      }

      .add_btn {
        border: 1px solid #ec5c34;
        border-radius: 8px;
        height: 40px;
        width: 100%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        background-color: transparent;
        cursor: pointer;
        color: #ec5c34;
        transition: all 0.3s ease-in-out;
        .plus_svg2 {
          stroke: #ec5c34;
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          background-color: #ec5c34;
          color: #ffffff;
          transition: all 0.3s ease-in-out;
          .plus_svg2 {
            stroke: white !important;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    padding-bottom: 200px;
    .items_container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
      width: 100%;
      // .each_item {
      //   width: 200px;
      // }
    }
  }

  @media screen and (max-width: 767px) {
    .items_container {
      grid-template-columns: repeat(auto-fit, minmax(120px, 2fr));

      justify-content: space-between;
      grid-gap: 31px;
      .each_item {
        box-sizing: border-box;
        // width: 250px;

        border-radius: 8px;

        img {
          width: 100%;
        }
        .item_name_and_star_container {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-top: 12px;

          h4 {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: $sub_color3;
            @media screen and (max-width: 280px) {
              font-size: 20px;
            }
          }

          .star {
            width: 70px;
            height: 30px;

            @media screen and (max-width: 280px) {
              width: 50px;
            }
          }
        }

        .item_description {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          width: 196px;
          margin-top: 4px;
          color: rgba(96, 96, 96, 0.7);
        }

        .item_price_and_qty_container {
          display: flex;
          justify-content: space-between;
          margin: 12px 0px 13px 0px;

          h4 {
            font-weight: 700;
            font-size: 15px;
            line-height: 22px;
            color: $sub_color2;
          }

          h6 {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $sub_color2;

            .quantity_btn {
              padding: 0px;
              font-size: 0px;
              background-color: transparent;
            }

            .plus {
              margin-right: 5px;
            }
            .minus {
              margin-left: 5px;
              position: relative;
              bottom: 5px;
            }

            @media screen and (max-width: 280px) {
              .plus {
                margin-right: 15px;
              }
              .minus {
                margin-left: 15px;
              }
            }
          }
        }

        .add_btn {
          height: 35px;
        }
      }
    }
  }
}
