$primary_bg1: #ffffff;
$primary_bg2: #fffcfa;
$secondary_bg1: #316e4d;
$special_color: #ec5c34;
$text_white: #ffffff;
$text_black: #474747;
$sub_color1: #7a7979;
$sub_color2: #232129;
$sub_color3: #606060;
