// svg {
//   position: absolute;
// }

.logo {
  path {
    fill: white !important;
  }
  @media screen and (max-width: 1023px) {
    width: 30px;
    height: 30px;
    path {
      fill: #ec5c34 !important;
    }
  }
}

.queue {
  @media screen and (max-width: 767px) {
    width: 190px;
    height: 200px;
    @media screen and (max-width: 280px) {
      width: 160px;
      height: 200px;
    }
  }
}

.white_dot {
  @media screen and (max-width: 767px) {
    width: 10px;
    height: 10px;
  }
}
