@import '../../../../constants/colors';
@import '../../../../constants/typography';
.we_offer_varieties {
  width: 100%;
  .header_and_text {
    width: 801px;
    margin: auto;

    color: #474747;

    .header {
      text-align: center;
      padding-top: 91px;
      h4 {
        margin-bottom: 12px;
      }
    }

    h3 {
      margin-top: 50px;
      text-align: center;
    }
  }

  .bbq_chicken_shawama_container {
    width: 80%;

    margin: auto;
    margin-top: 163px;
    .sub_container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .each_bbq {
        width: 345px;
        background: $primary_bg1;
        box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        box-sizing: border-box;
        padding: 25px;

        img {
          width: 100%;
        }

        h2 {
        }

        .span {
          border-radius: 8px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #ffffff;
          width: 40%;
          padding: 5px;
          text-align: center;
        }

        .with_free_gift {
          background: #34ac46;
        }

        .plus_soft_drink {
          background: #ffcf86;
        }
        .beef_chicken_suya {
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #666272;
          margin: 0;
          padding: 0;
        }

        a {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          text-decoration: none;
          color: #474747;
        }
      }
      .middle_bbq {
        position: relative;
        bottom: 80px;
        box-shadow: 0px 7px 42px 6px rgba(236, 92, 52, 0.17);
      }
    }
  }

  @media screen and (max-width: 1024px) {
    width: 100%;

    .header_and_text {
      width: 701px;
      margin: auto;

      h3 {
        margin-top: 20px;
        font-size: 27px;
      }
    }

    .bbq_chicken_shawama_container {
      width: 90%;

      margin: auto;
      margin-top: 130px;
      .sub_container {
        width: 100%;
        .each_bbq {
          width: 25%;
          padding: 25px;

          h2 {
            font-size: 30px;
            line-height: 33px;
          }

          .span {
            font-size: 16px;
            line-height: 19px;
            width: 40%;
            padding: 5px;
          }

          .with_free_gift {
            width: 50%;
            @media screen and (max-width: 1023px) {
              width: 70%;
            }
          }

          .plus_soft_drink {
            @media screen and (max-width: 1023px) {
              width: 70%;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .header_and_text {
      width: 90%;
      margin: auto;

      .header {
        text-align: center;
        padding-top: 91px;
        h4 {
          margin-bottom: 12px;
        }
      }

      h3 {
        margin-top: 20px;
        font-size: 25px;
        line-height: 30px;
        font-weight: 500;
      }
    }

    .bbq_chicken_shawama_container {
      width: 100%;

      overflow: scroll;
      margin-top: 0px;

      .sub_container {
        width: 850px;
        padding: 50px 10px 20px 10px;
        @media screen and (max-width: 280px) {
          padding: 50px 0px 20px;
        }
        .each_bbq {
          width: 250px;
          margin: auto;
          margin: 0px 10px;
          padding: 20px;
          img {
            width: 100%;
            font-size: 32px;
          }

          h2 {
            font-size: 33px;
          }

          .span {
            border-radius: 8px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #ffffff;
            width: 50%;
            padding: 5px;
            text-align: center;
          }

          .with_free_gift {
            padding: 10px;
          }

          .plus_soft_drink {
            padding: 10px;
          }
        }
        .middle_bbq {
          bottom: 0px;
        }
      }
    }
  }
}
