// We are Currentley availble
@import '../../../../constants/colors';
@import '../../../../constants/typography';
.we_are_currently_available {
  width: 100%;
  background: linear-gradient(90.28deg, #ffb68d -1.79%, #ffd086 38.19%);
  overflow-x: hidden;
  position: relative;
  padding-bottom: 42px;
  display: flex;
  justify-content: space-between;
  top: 30px;
  &::before {
    content: '';
    position: absolute;
    width: 1500px;
    height: 255px;
    top: -205px;
    background: $primary_bg1;
    transform: rotate(3.73deg);
  }
  .bike2 {
    margin-top: 80px;
    width: 33%;
  }

  .text_container {
    width: 64%;

    margin-top: 130px;
    .text {
      width: 100%;

      h3 {
        font-weight: 700;
        font-size: 37px;
        line-height: 50px;
        color: #232129;
        text-align: left;
      }
      p {
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #232129;
        span {
          color: #ec5c34;
          font-size: 30px;
          font-weight: 700;
        }
      }
    }
    .base_location {
      width: 100%;
      .base_location_set {
        display: flex;
        flex-wrap: wrap;

        .location {
          border: 2px solid #ec5c34;
          border-radius: 8px;
          padding: 10px 20px;
          @media screen and (max-width: 1024px) {
            padding: 10px;
          }
          margin-right: 10px;
          font-size: 14px;
          span {
            margin-right: 10px;
            position: relative;
            top: 3px;
          }
        }
      }
    }
    a {
      font-family: 'Plus Jakarta Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      text-decoration-line: underline;
      color: #ec5c34;
      float: right;
      margin-right: 45px;
      margin-top: 48px;
    }
  }

  @media screen and (max-width: 1023px) {
    .bike2 {
      margin-top: 150px;
      width: 45%;
      height: 500px;
    }

    .text_container {
      width: 55%;

      margin-top: 130px;
      .text {
        width: 100%;

        h3 {
          font-weight: 700;
          font-size: 30px;
          line-height: 40px;
        }
        p {
          font-size: 22px;
          line-height: 30px;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    background: linear-gradient(90.28deg, #ffb68d -1.79%, #ffd086 38.19%);
    overflow-x: hidden;
    position: relative;
    padding-bottom: 42px;
    display: flex;
    justify-content: space-between;
    top: 0px;
    &::before {
      content: '';
      position: absolute;
      width: 1500px;
      height: 255px;
      top: -80px;
      transform: rotate(12.73deg);
    }
    .bike2 {
      display: none;
    }

    .text_container {
      width: 85%;
      margin: auto;

      margin-top: 130px;
      .text {
        width: 100%;

        h3 {
          font-size: 30px;
          line-height: 40px;
        }
        p {
          font-size: 22 px;
          line-height: 30px;
          span {
            font-size: 30px;
          }
        }
      }
      .base_location {
        width: 100%;
        .base_location_set {
          .location {
            padding: 10px;
            margin-right: 10px;
            font-size: 12px;
            span {
              margin-right: 10px;

              top: 1px;
            }
          }
        }
      }
      a {
        margin-right: 0px;
        margin-top: 30px;
      }
    }
  }
}
